*,
*::before,
*::after {
    margin: 0;
    box-sizing: border-box;
    font-size: 1rem;
}

html{
    font-family: Tahoma;
    
}

h1{
    font-weight: bolder;
    text-align: center;
    margin-bottom: 50px;
    color: rgb(209, 72, 78);
}


.no-style{
    text-decoration: none;
    text-align: center;
    padding: 0;


}

.no-style li {
    margin: 30px 0px;
}

.pot{
    width: 150px;
    height: auto;
    display: block;
    margin: 10px auto;
    margin-bottom: 50px;
}

a:hover{
    color: rgb(105, 80, 109);
}

a:link{
    color:rgb(209, 72, 78);
}

a:visited{
    color: rgb(207, 128, 132);
}

body{
    background-color: rgb(255, 255, 255);
}

.food-pic{
    width: 300px;
    height: auto;
    display: block;
    margin: 10px auto;
    margin-bottom: 50px; 
}

.text{
    padding-left: 20px;
    display: inline-block;
    margin: 0 auto;
}

h3, h4, p, footer {
    margin-bottom: 10px;
    margin-left: 15px;
    margin-top: 10px;
}

.ingredients li{
    list-style: none;
}


h3, h4 {
    color: rgb(255, 127, 134);
}

strong{
    color:rgb(255, 160, 176);
}
li{
 margin-bottom: 5px;
}

footer{
    margin: 20px;
    text-align: right;
}

.steps ol, .layer ol, p {
    padding-left: 60px;
}
p{
    padding-left: 40px;
    margin: 0;
}
